{% extends "template.html" %}
{% block content %}
   <h1>Login</h1>
<p>1. Login with username:password --> admin:admin</p>
<p>2. Pick max amount to display followed be a date range.</p>
<p>3. End date dose not include day, but everthing before it.</p>
   {% if error %}
     <p class=error><strong>Error:</strong> {{ error }}
   {% endif %}
   <form action="" method=post>
     <dl>
       <dt>Username:(admin)
       <dd><input type=text name=username value="{{request.form.username}}">
       <dt>Password:(admin)
       <dd><input type=password name=password>
       <dt>Max Results (1-100):
       <dd><input type=number name=number min=1 max=100 value="25">
       <dt>start date:
<input type=text name="fromTime" required> 
       
       <dt>end date:
<input type=text name="toTime" required>
 
     </dl>
     <p><input type=submit value=Login>
   </form>
   {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>	   
   {% endfor%}
{% endblock %}